.navbar {
    background-color: #E2CAE6;
    display: block;
}

.logoutbtn {
    float: right;
    color: #828282;
    border-radius: 5px;
    border-color: #d0d0d0;
}

.navbar-nav{
    display: inline-block;
}